.vscode/
.idea/
*.swp
*.bak
.DS_Store
Thumbs.db

frontend/node_modules/
frontend/dist/
frontend/.vscode/
frontend/.env.local
frontend/.env.*.local
frontend/*.log
frontend/.vite/

backend/node_modules/
backend/.vscode/
backend/.idea/

backend/target/
backend/*.class


*.sqlite
*.db

**/uploads/
**/tmp/